@keyframes scroll {
  0%, 20% {
    transform: translateY(0) scaleY(1);
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0.01;
  }
}
@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #F76304, 0 0 50px #FFC93A;
  }
}
@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}
.contenedor_animationChevron {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 4em;
}

.container_chevron {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #57A9DA;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

.card {
  width: 15rem;
  height: 18rem;
  display: flex;
  background: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border: none;
  outline: 1px solid #E0E0E0;
  outline-offset: -8px;
  box-shadow: rgba(87, 169, 218, 0.884) 3px 4px 17px;
  /*     -moz-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1); */
  transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
  -moz-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.card:hover .card_content {
  opacity: 1;
  transform: translateY(0rem);
  -webkit-transform: translateY(0rem);
  -o-transform: translateY(0rem);
  -moz-transform: translateY(0rem);
}
.card:hover .dp {
  transform: translateY(15rem);
  -webkit-transform: translateY(15rem);
  -o-transform: translateY(15rem);
  -moz-transform: translateY(15rem);
}

.dp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  padding: 1em;
}
.dp .card_title {
  font-family: "Fugaz One", cursive;
  color: #E0E0E0;
  width: 100%;
  text-align: center;
}

.card_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 1em;
  transform: translateY(-15rem);
  transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transform: translateY(-15rem);
  -o-transform: translateY(-15rem);
  -moz-transform: translateY(-15rem);
}
.card_content .card_paragraph {
  font-family: Arial, Helvetica, sans-serif;
  color: #E0E0E0;
  width: 100%;
  text-align: center;
  margin-top: 1em;
}
.card_content .contenedor_btn_card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.card_content .contenedor_btn_card .btn_card {
  color: #E0E0E0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  border: 3px solid #E0E0E0;
  border-radius: 10px;
}
.card_content .contenedor_btn_card .btn_card:hover {
  color: #F76304;
  animation: pulsate 1s ease-in-out;
}

/* @media screen and (min-width: 320px) {
    .card{
        width: 14rem;
        height: 20rem;
    }    
}
@media screen and (min-width: 480px) {
    .card{
        width: 22rem;
        height: 17rem;
    }    
}
@media screen and (min-width: 768px) {
    .card{
        width: 28rem;
        height: 18rem;
    }    
}
@media screen and (min-width: 900px) {
    .card{
        width: 30rem;
        height: 20rem;
    }    
}
@media screen and (min-width: 1024px) {
    .card{
        width: 35rem;
        height: 20rem;
    }    
} */
.carousel_article {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: center;
}

.carousel_container {
  padding: 1em;
}

.adn_container {
  width: 800px;
  height: 100px;
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  margin-top: 2em;
  margin-bottom: 5em;
}

.adn_box {
  width: 10%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotar 4s infinite linear;
  margin-bottom: 20em;
}

.adn_items {
  width: 100%;
  height: none;
  border-radius: 3px;
  margin-bottom: 10px;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adn_botton {
  width: 10px;
  height: 10px;
  border-radius: 70%;
  background-color: #57A9DA;
  transform: rotateY(90deg) rotateX(-20deg) translateZ(5px);
}

.adn_botton:nth-child(3) {
  transform: rotateY(90deg) translateZ(3px);
}

.adn_line {
  width: 100%;
  height: none;
  border: 1px solid #57A9DA;
}

.adn_items:nth-child(1) {
  transform: rotateY(15deg);
}

.adn_items:nth-child(2) {
  transform: rotateY(30deg);
}

.adn_items:nth-child(3) {
  transform: rotateY(45deg);
}

.adn_items:nth-child(4) {
  transform: rotateY(60deg);
}

.adn_items:nth-child(5) {
  transform: rotateY(75deg);
}

.adn_items:nth-child(6) {
  transform: rotateY(90deg);
}

.adn_items:nth-child(7) {
  transform: rotateY(105deg);
}

.adn_items:nth-child(8) {
  transform: rotateY(120deg);
}

.adn_items:nth-child(9) {
  transform: rotateY(135deg);
}

.adn_items:nth-child(10) {
  transform: rotateY(150deg);
}

.adn_items:nth-child(11) {
  transform: rotateY(165deg);
}

.adn_items:nth-child(12) {
  transform: rotateY(180deg);
}

.adn_items:nth-child(13) {
  transform: rotateY(195deg);
}

.adn_items:nth-child(14) {
  transform: rotateY(210deg);
}

.adn_items:nth-child(15) {
  transform: rotateY(225deg);
}

.adn_items:nth-child(16) {
  transform: rotateY(240deg);
}

.adn_items:nth-child(17) {
  transform: rotateY(255deg);
}

.adn_items:nth-child(18) {
  transform: rotateY(270deg);
}

.adn_items:nth-child(19) {
  transform: rotateY(285deg);
}

.adn_items:nth-child(20) {
  transform: rotateY(300deg);
}

.adn_items:nth-child(21) {
  transform: rotateY(315deg);
}

.adn_items:nth-child(22) {
  transform: rotateY(330deg);
}

.adn_items:nth-child(23) {
  transform: rotateY(345deg);
}

@keyframes rotar {
  100% {
    transform: rotateY(360deg);
  }
}
@media screen and (max-width: 768px) {
  .adn_container {
    transform: rotate(180deg);
    margin-top: 14em;
    margin-bottom: 9em;
  }

  .adn_box {
    width: 25%;
  }
}
@media screen and (max-width: 468px) {
  .adn_box {
    width: 40%;
  }
}
@media screen and (max-width: 320px) {
  .adn_box {
    width: 60%;
  }
}
.borderEffects span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #57A9DA);
  animation: borderEffects1 2s linear infinite;
}
.borderEffects span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to bottom, transparent, #57A9DA);
  animation: borderEffects2 2s linear infinite;
  animation-delay: 1s;
}
.borderEffects span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, #57A9DA);
  animation: borderEffects3 2s linear infinite;
}
.borderEffects span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(to top, transparent, #57A9DA);
  animation: borderEffects4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes borderEffects1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes borderEffects2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes borderEffects3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes borderEffects4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes girar {
  100% {
    transform: rotateZ(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fugaz One", cursive;
  font-display: swap;
  box-sizing: border-box;
  background-color: #535558;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  clear: both;
  content: "";
  position: sticky;
  top: 0;
  z-index: 45;
}
header .navbar {
  flex-wrap: nowrap;
}
header nav {
  background-color: #202124;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 100%;
}
header nav div ul {
  width: 95%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
header nav div ul li {
  display: flex;
  align-items: center;
  color: #E0E0E0;
}
header nav div ul li a {
  text-decoration: none;
  color: inherit;
}
header nav div ul li:hover {
  color: #57A9DA;
}
header nav div ul .socialMedia {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 10rem;
  height: 100%;
}
header nav div ul .socialMedia_anchord {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
}
header nav div ul .socialMedia_anchord i, header nav div ul .socialMedia_anchord img {
  background: none;
  color: #E0E0E0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 32px;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
header nav div ul .socialMedia_anchord i:hover, header nav div ul .socialMedia_anchord img:hover {
  color: #57A9DA;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
}
header .contenedor_logo_header {
  width: 35%;
  display: flex;
  justify-content: flex-start;
  margin-left: 2em;
  padding: 1em;
}
header .anchord_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .logo_header {
  width: calc(5em + 5vw);
}
header .contenedor_header_secciones {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header #toggler, header .contenedor_burgerMenu, header .burger_menu, header .center {
  display: none;
}

.main {
  width: 100%;
}

.section_presentacion {
  width: 100%;
  display: flex;
  margin-top: 0;
  margin-bottom: 2em;
}
.section_presentacion .contenedor_presentacion {
  width: 100%;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  margin-top: 3em;
  margin-bottom: 3em;
}
.section_presentacion .contenedor_presentacion .contenedor_presentacion_h1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  margin-top: 2em;
  margin-bottom: 2em;
}
.section_presentacion .contenedor_presentacion .contenedor_presentacion_h1 .presentacion_h1 {
  color: #57A9DA;
  width: 80%;
}

.contenedor_btn_pulse {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.contenedor_btn_pulse .btn_pulse {
  color: #E0E0E0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 20px;
  border: 3px solid #E0E0E0;
  border-radius: 10px;
}
.contenedor_btn_pulse .btn_pulse:hover {
  color: #F76304;
  animation: pulsate 1s ease-in-out;
}

.section_nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 2em;
  margin-bottom: 2em;
}
.section_nosotros hr {
  color: #E0E0E0;
  width: 60%;
  transition: all 0.35 ease-in-out;
  margin-top: 3em;
  margin-bottom: 3em;
}
.section_nosotros article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.section_nosotros article .contenedor_nosotros_quienesSomos, .section_nosotros article .contenedor_nosotros_Speach {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.section_nosotros article .contenedor_nosotros_quienesSomos h2, .section_nosotros article .contenedor_nosotros_Speach h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
  color: #57A9DA;
  font-family: "Fugaz One", cursive;
}
.section_nosotros article .contenedor_nosotros_quienesSomos p, .section_nosotros article .contenedor_nosotros_Speach p {
  width: 100%;
  text-align: left;
  color: #E0E0E0;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
}
.section_nosotros article .contenedor_nosotros_quienesSomos span, .section_nosotros article .contenedor_nosotros_Speach span {
  color: #57A9DA;
  font-family: "Fugaz One", cursive;
}
.section_nosotros article .contenedor_nosotros_Speach {
  margin-top: 0;
}
.section_nosotros .nosotros_valores_title_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.section_nosotros .nosotros_valores_title_container h3 {
  text-align: center;
  color: #F76304;
  font-family: "Fugaz One", cursive;
}
.section_nosotros .nosotros_valores_title_container .nosotros_valores_paragraph {
  width: 100%;
  text-align: left;
  color: #E0E0E0;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 60%;
}
.section_nosotros .nosotros_valores_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.section_nosotros .nosotros_valores_container .valores_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.section_nosotros .nosotros_valores_container .valores_container .valores_content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow: hidden;
  position: relative;
}
.section_nosotros .nosotros_valores_container .valores_container .valores_content p {
  text-align: center;
  color: #E0E0E0;
  font-family: "Fugaz One", cursive;
  margin-top: 1em;
  margin-bottom: 1em;
}
.section_nosotros .nosotros_mision_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.section_nosotros .nosotros_mision_container .nosotros_mision_title {
  margin-top: 2em;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
  color: #F76304;
  font-family: "Fugaz One", cursive;
}
.section_nosotros .nosotros_mision_container .nosotros_mision_paragraph {
  width: 100%;
  text-align: left;
  color: #E0E0E0;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 60%;
}
.section_nosotros .nosotros_mision_container .nosotros_mision_hashtag_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section_nosotros .nosotros_mision_container .nosotros_mision_hashtag_container .hashtagRocket {
  width: 80px;
  height: 80px;
}
.section_nosotros .nosotros_mision_container .nosotros_mision_hashtag_container .nosotros_mision_hashtag {
  font-family: "Fugaz One", cursive;
  color: #E0E0E0;
  text-align: left;
  margin: 1em;
}
.section_nosotros .nosotros_mision_container .nosotros_mision_hashtag_container .nosotros_mision_hashtag span {
  font-family: Arial, Helvetica, sans-serif;
}
.section_nosotros .beneficios_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 1em;
  margin-bottom: 1em;
}
.section_nosotros .beneficios_container .beneficio_content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow: hidden;
  position: relative;
}
.section_nosotros .beneficios_container .beneficio_content p {
  text-align: center;
  color: #E0E0E0;
  font-family: "Fugaz One", cursive;
  margin-top: 1em;
  margin-bottom: 1em;
}

.section_servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 4em;
  margin-bottom: 2em;
}
.section_servicios hr {
  color: #E0E0E0;
  width: 60%;
  transition: all 0.35 ease-in-out;
  margin-top: 3em;
  margin-bottom: 3em;
}
.section_servicios h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
  color: #57A9DA;
  font-family: "Fugaz One", cursive;
}
.section_servicios .servicio_principal_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section_servicios .servicio_principal_container .containerStar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 65%;
}
.section_servicios .servicio_principal_container .containerStar .servicioPrincipal_title {
  color: #F76304;
  text-align: center;
  margin: 1em;
}
.section_servicios .servicio_principal_container .containerStar .servicioPrincipal_star {
  width: 50px;
  height: 50px;
  animation: girar 5s infinite linear;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.section_servicios .servicio_principal_container .caminoDigital_Title {
  color: #57A9DA;
  width: 100%;
  text-align: center;
  font-family: "Fugaz One", cursive;
  margin-top: 1em;
  margin-bottom: 1em;
}
.section_servicios .servicio_principal_container .caminoDigital_paragraph {
  text-align: left;
  width: 60%;
  color: #E0E0E0;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1em;
  margin-bottom: 2em;
}
.section_servicios .servicio_principal_container .impulsos_container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 1em;
}
.section_servicios .servicio_principal_container .impulsos_container .impulsos_content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow: hidden;
  position: relative;
  min-width: 300px;
}
.section_servicios .servicio_principal_container .impulsos_container .impulsos_content p {
  text-align: left;
  color: #E0E0E0;
  font-family: "Fugaz One", cursive;
  margin-top: 1em;
  margin-bottom: 1em;
}
.section_servicios .servicio_principal_container .caminoDigital_pie {
  width: 60%;
  color: #F76304;
  text-align: left;
  font-family: "Fugaz One", cursive;
  margin-top: 1em;
  margin-bottom: 1em;
}
.section_servicios .container_content_impulso {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 30%;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 1em;
  margin-bottom: 1em;
}
.section_servicios .container_content_impulso .contenedor_impulso_img {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 10rem;
  max-height: 10rem;
  overflow: hidden;
}
.section_servicios .container_content_impulso .contenedor_impulso_img .img_impulso {
  width: 100%;
  height: 100%;
  /*                 -moz-transition: all 500ms ease;
                  -webkit-transition: all 500ms ease;
                  -o-transition: all 500ms ease; */
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.section_servicios .container_content_impulso .contenedor_impulso_img .img_impulso:hover {
  /*                     -webkit-transform: scale(1.2);
                      -o-transform: scale(1.2);
                      -moz-transform: scale(1.2); */
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
}
.section_servicios .container_content_impulso .container_impulso_speach {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section_servicios .container_content_impulso .container_impulso_speach .impulso_title {
  text-align: left;
  font-family: "Fugaz One", cursive;
  color: #F76304;
  width: 100%;
}
.section_servicios .container_content_impulso .container_impulso_speach .impulso_paragraph {
  width: 100%;
  text-align: left;
  color: #E0E0E0;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
}
.section_servicios .carousel_title {
  color: #F76304;
  font-family: "Fugaz One", cursive;
  width: 60%;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
}
.section_servicios .asesorate {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.section_servicios .asesorate .asesorate_btn {
  color: #E0E0E0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 20px;
  border: 3px solid #E0E0E0;
  border-radius: 10px;
}
.section_servicios .asesorate .asesorate_btn:hover {
  color: #F76304;
  animation: pulsate 1s ease-in-out;
}

.section_contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 2em;
  margin-bottom: 2em;
}
.section_contacto hr {
  color: #E0E0E0;
  width: 60%;
  transition: all 0.35 ease-in-out;
  margin-top: 3em;
  margin-bottom: 3em;
}
.section_contacto h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
  color: #57A9DA;
  font-family: "Fugaz One", cursive;
}
.section_contacto .contacto_redes_container {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1000px;
  justify-content: center;
  align-items: flex-start;
}
.section_contacto .contacto_redes_container .contacto_redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
.section_contacto .contacto_redes_container .contacto_redes .contacto_redes_anchord {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 40px;
  height: 40px;
  margin-bottom: 1em;
  text-align: center;
  text-decoration: none;
  color: #E0E0E0;
}
.section_contacto .contacto_redes_container .contacto_redes .contacto_redes_anchord:hover {
  color: #F76304;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(236, 129, 29, 0.89);
  transition: all 0.4s ease-in-out;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
}
.section_contacto form {
  width: 80%;
  max-width: 920px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  border-radius: 20px;
  box-shadow: rgb(87, 169, 218) 3px 4px 17px;
  /*         -moz-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
          -webkit-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
          -o-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1); */
  transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
  -moz-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
  margin-top: 1em;
  margin-bottom: 1em;
}
.section_contacto .formulario_contenedor_datos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.section_contacto .formulario_contenedor_datos h3 {
  color: #F76304;
  font-family: "Fugaz One", cursive;
}
.section_contacto .formulario_contenedor_datos .contenedor_inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  color: #E0E0E0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.section_contacto .formulario_contenedor_datos .contenedor_checkbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 350px;
  color: #E0E0E0;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-around;
  font-weight: bold;
}
.section_contacto .formulario_contenedor_textarea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.section_contacto .formulario_contenedor_textarea h3 {
  color: #F76304;
  font-family: "Fugaz One", cursive;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.section_contacto .formulario_contenedor_textarea .contenedor_inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  color: #E0E0E0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.section_contacto .formulario_contenedor_textarea .contenedor_btn_formulario {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.section_contacto .formulario_contenedor_textarea .contenedor_btn_formulario .btn_formulario {
  width: 40%;
  min-width: 150px;
  max-width: 200px;
  color: #E0E0E0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  border: 3px solid #E0E0E0;
  border-radius: 10px;
}
.section_contacto .formulario_contenedor_textarea .contenedor_btn_formulario .btn_formulario:hover {
  color: #F76304;
  animation: pulsate 1s ease-in-out;
}
.section_contacto .contacto_redesUbicacion {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1000px;
  justify-content: center;
  align-items: flex-start;
}
.section_contacto .contacto_redesUbicacion .containerRedes {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_contacto .contacto_redesUbicacion .containerRedes h3 {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #57A9DA;
  font-family: "Fugaz One", cursive;
}
.section_contacto .contacto_redesUbicacion .containerRedes .contacto_redes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.section_contacto .contacto_redesUbicacion .containerRedes .contacto_redes .contacto_redes_anchord {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 40px;
  height: 40px;
  margin-bottom: 1em;
  text-align: center;
  text-decoration: none;
  color: #E0E0E0;
}
.section_contacto .contacto_redesUbicacion .containerRedes .contacto_redes .contacto_redes_anchord:hover {
  color: #F76304;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(236, 129, 29, 0.89);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transform: scale(1.2);
}
.section_contacto .contacto_redesUbicacion .container_ubicacion {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_contacto .contacto_redesUbicacion .container_ubicacion h3 {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #57A9DA;
  font-family: "Fugaz One", cursive;
}
.section_contacto .contacto_redesUbicacion .container_ubicacion p {
  margin-top: 0;
  margin-bottom: 1em;
  color: #E0E0E0;
  font-family: Arial, Helvetica, sans-serif;
}
.section_contacto .contacto_redesUbicacion .container_ubicacion iframe {
  width: 80%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.section_contacto .contacto_calendly {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  flex-direction: column;
}
.section_contacto .contacto_calendly .contacto_calendly_title {
  color: #F76304;
  width: 60%;
  text-align: left;
  font-family: "Fugaz One", cursive;
  margin-top: 2em;
  margin-bottom: 1em;
}
.section_contacto .contacto_calendly .calendly {
  width: 60%;
  height: 50%;
  max-height: 400px;
  background-color: #535558;
  margin-top: 2em;
  margin-bottom: 2em;
}

.whatsapp {
  position: fixed;
  bottom: 1%;
  font-size: 50px;
  color: #00bb2d;
  width: 50px;
  height: 50px;
  line-height: 50px;
  bottom: 20px;
  right: 20px;
  border-radius: 50px;
  text-align: center;
  z-index: 100;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
.whatsapp:hover {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  color: white;
  background-color: #00bb2d;
}

footer {
  background-color: #202124;
}
footer hr {
  color: #E0E0E0;
}
footer h5 {
  color: #E0E0E0;
}
footer a {
  text-decoration: none;
  color: #E0E0E0;
}
footer a:hover {
  color: #57A9DA;
}
footer p {
  font-family: Arial, Helvetica, sans-serif;
  color: #E0E0E0;
}
footer p:hover {
  color: #57A9DA;
}
footer .footer__logo {
  width: calc(8em + 8vw);
  margin-top: 1em;
  margin-bottom: 2em;
}
footer .footer__redes {
  display: flex;
  flex-direction: column;
}
footer .socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
footer .socialMedia_anchord {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
footer .socialMedia_anchord i, footer .socialMedia_anchord img {
  background: #535558;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 32px;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
footer .socialMedia_anchord i:hover, footer .socialMedia_anchord img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
}

@media screen and (max-width: 1100px) {
  header .contenedor_logo_header {
    width: 30%;
  }

  .section_nosotros .beneficios_container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section_nosotros .beneficios_container .beneficio_content {
    width: 40%;
    margin: 1em;
  }
}
@media screen and (max-width: 998px) {
  header .contenedor_logo_header {
    width: 20%;
  }
  header .contenedor_header_secciones {
    width: 80%;
  }

  .section_nosotros .contenedor_nosotros_quienesSomos {
    width: 80%;
  }
  .section_nosotros .contenedor_nosotros_Speach {
    width: 80%;
  }

  .section_contacto form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section_contacto form h3 {
    width: 100%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .section_contacto .formulario_contenedor_datos {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .section_contacto .formulario_contenedor_textarea {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .section_contacto .formulario_contenedor_textarea .contenedor_btn_formulario .btn_formulario {
    width: 25%;
  }
}
@media screen and (max-width: 900px) {
  header nav {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header .center {
    display: block;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    position: relative;
    width: 40px;
  }
  header .center:before,
header .center:after,
header .center div {
    background: #57A9DA;
    content: "";
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
  }
  header .center:hover:before {
    transform: translateY(12px) rotate(135deg);
    -webkit-transform: translateY(12px) rotate(135deg);
    -o-transform: translateY(12px) rotate(135deg);
    -moz-transform: translateY(12px) rotate(135deg);
  }
  header .center:hover:after {
    transform: translateY(-12px) rotate(-135deg);
    -webkit-transform: translateY(-12px) rotate(-135deg);
    -o-transform: translateY(-12px) rotate(-135deg);
    -moz-transform: translateY(-12px) rotate(-135deg);
  }
  header .center:hover div {
    transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -moz-transform: scale(0);
  }
  header .contenedor_header_secciones {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
  }
  header .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  header .contenedor_burgerMenu {
    display: inline-flex;
    cursor: pointer;
    width: 30%;
    justify-content: flex-end;
    align-items: baseline;
  }
  header .burger_menu {
    width: 30px;
    height: 30px;
    display: flex;
  }
  header .anchord_secciones {
    padding: 1em;
  }
  header #toggler:checked ~ .contenedor_header_secciones {
    max-height: 100%;
  }
  header .socialMedia {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 920px) {
  .section_contacto .formulario_contenedor_textarea .contenedor_btn_formulario .btn_formulario {
    min-width: 170px;
  }
}
@media screen and (max-width: 768px) {
  .socialMedia_anchord i, .socialMedia_anchord img {
    margin-bottom: 1em;
  }

  .section_servicios .container_content_impulso {
    flex-direction: column;
    width: 100%;
  }
  .section_servicios .container_content_impulso .container_impulso_speach .impulso_paragraph {
    text-align: left;
  }
  .section_servicios .servicio_principal_container .caminoDigital_paragraph {
    width: 90%;
  }
  .section_servicios .servicio_principal_container .impulsos_container {
    width: 90%;
  }
  .section_servicios .servicio_principal_container .impulsos_container .impulsos_content {
    min-width: 280px;
    margin: 1em;
  }
  .section_servicios .servicio_principal_container .containerStar {
    width: 90%;
  }
  .section_servicios .caminoDigital_pie {
    width: 90%;
  }
  .section_servicios .carousel_title {
    width: 80%;
  }

  .section_nosotros article .contenedor_nosotros_quienesSomos, .section_nosotros article .contenedor_nosotros_Speach {
    width: 90%;
  }
  .section_nosotros .nosotros_valores_title_container .nosotros_valores_paragraph {
    width: 90%;
  }
  .section_nosotros .nosotros_valores_container {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .section_nosotros .nosotros_valores_container .valores_container {
    flex-direction: column;
  }
  .section_nosotros .nosotros_valores_container .valores_container .valores_content {
    margin-top: 1em;
    margin-bottom: 1em;
    min-width: 130px;
  }
  .section_nosotros .nosotros_mision_container .nosotros_mision_paragraph {
    width: 90%;
  }

  .section_contacto .contacto_redesUbicacion {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section_contacto .contacto_redesUbicacion .containerRedes {
    width: 100%;
  }
  .section_contacto .contacto_redesUbicacion .containerRedes .contacto_redes {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
  }
  .section_contacto .contacto_redesUbicacion .container_ubicacion {
    width: 100%;
  }
  .section_contacto .contacto_calendly .contacto_calendly_title {
    width: 90%;
  }
}
@media screen and (max-width: 468px) {
  .section_nosotros .beneficios_container {
    flex-direction: column;
  }
  .section_nosotros .beneficios_container .beneficio_content {
    width: 50%;
    margin: 1em;
  }

  .section_servicios .servicio_principal_container .containerStar {
    flex-direction: column;
  }
  .section_servicios .servicio_principal_container .impulsos_container {
    flex-direction: column;
  }
  .section_servicios .servicio_principal_container .impulsos_container .impulsos_content {
    min-width: 80%;
  }

  .section_contacto .contacto_redes_container .contacto_redes {
    width: 80%;
  }
}
@media screen and (max-width: 320px) {
  .section_nosotros .beneficios_container {
    flex-direction: column;
  }
  .section_nosotros .beneficios_container .beneficio_content {
    width: 80%;
    margin: 1em;
  }
}
@media screen and (min-width: 768px) {
  /*Footer Media +768*/
  footer {
    /*CIerra Footer Media +768*/
  }
  footer .footer__logo {
    width: calc(6em + 6vw);
    margin-top: 0;
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=main.css.map */
