.card{
    width: 15rem;
    height: 18rem;
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border: none;
    outline: 1px solid $color_gris_claro;
    outline-offset: -8px;
    box-shadow: rgba(87, 169, 218, 0.884) 3px 4px 17px;
/*     -moz-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1); */
    transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    @include compatibilidad_transition(2.5s cubic-bezier(0.4, 0.2, 0.2, 1));
    &:hover .card_content{
        opacity: 1;
        transform: translateY(0rem);
        @include compatibilidad_transform(translateY(0rem));
    };
    &:hover .dp{
        transform: translateY(15rem);
        @include compatibilidad_transform(translateY(15rem));
        i{
            color: $color_naranja_cohete;
        }
    };
    &:hover{
        box-shadow: rgba(236, 129, 29, 0.89) 3px 4px 17px;
        .card_title{
            color: $color_naranja_cohete;
        }
    };
}
.dp{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s ease-in-out;
    @include compatibilidad_transition(all 1s ease-in-out);
    padding: 1em;
    .card_title{
        font-family: $letra__principal;
        color: $color_gris_claro;
        width: 100%;
        text-align: center;
        transition: all .5s ease-in-out;
    }
    i{
        font-size: 30px;
        color: white;
        position: absolute;
        bottom: 10%;
    }
}
.card_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 1em;
    transform: translateY(-15rem);
    transition: all 1s ease-in-out;
    @include compatibilidad_transition(all 1s ease-in-out);
    @include compatibilidad_transform(translateY(-15rem));
    .card_paragraph{
        font-family: $letra__secundaria;
        color: $color_gris_claro;
        width: 100%;
        text-align: center;
        margin-top: 1em;
    }
    .contenedor_btn_card{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include margin__Espaciado(1em,1em);
        .btn_card{
            color: $color_gris_claro;
            font-family: $letra__secundaria;
            font-weight: bold;
            text-decoration: none;
            padding: 10px 15px;
            border: 3px solid $color_gris_claro;
            border-radius: 10px;
            &:hover{
                color: $color_naranja_cohete;
                animation: pulsate 1s ease-in-out;
                border: 3px solid $color_naranja_cohete;
            };
        }
    }
}
/* @media screen and (min-width: 320px) {
    .card{
        width: 14rem;
        height: 20rem;
    }    
}
@media screen and (min-width: 480px) {
    .card{
        width: 22rem;
        height: 17rem;
    }    
}
@media screen and (min-width: 768px) {
    .card{
        width: 28rem;
        height: 18rem;
    }    
}
@media screen and (min-width: 900px) {
    .card{
        width: 30rem;
        height: 20rem;
    }    
}
@media screen and (min-width: 1024px) {
    .card{
        width: 35rem;
        height: 20rem;
    }    
} */

.card_masServicios{
    width: 15rem;
    height: 18rem;
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border: none;
    outline: 1px solid $color_gris_claro;
    outline-offset: -8px;
    box-shadow: rgba(87, 169, 218, 0.884) 3px 4px 17px;
    transition: all 1s ease-in-out;
    &:hover{
        transition: all 1s ease-in-out;
        box-shadow: rgba(236, 129, 29, 0.89) 3px 4px 17px;
        outline: 1px solid $color_naranja_cohete;
        outline-offset: -8px;
        .card_title{
            color: $color_naranja_cohete;
        }
    };
    .contenedor_btn_card{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include margin__Espaciado(1em,1em);
        .btn_card{
            color: $color_gris_claro;
            font-family: $letra__secundaria;
            font-weight: bold;
            text-decoration: none;
            padding: 10px 15px;
            border: 3px solid $color_gris_claro;
            border-radius: 10px;
            &:hover{
                color: $color_naranja_cohete;
                animation: pulsate 1s ease-in-out;
                border: 3px solid $color_naranja_cohete;
            };
        }
    }
}
.dp_masServicios{
    @include flex__ColumnCenterAll;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s ease-in-out;
    @include compatibilidad_transition(all 1s ease-in-out);
    padding: 1em;
    .card_title{
        font-family: $letra__principal;
        color: $color_gris_claro;
        width: 100%;
        text-align: center;
        transition: all .1s ease-in-out;
    }
}
