.carousel{
    width: 80%;
    max-width: 1000px;
}
.carousel_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel_left, .carousel_right{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    //top: calc(30% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: $color_gris_claro;
    opacity: 20%;
    &:hover{
        opacity: 100%;
    }
}
.carousel_left{
    left: -30px;
}
.carousel_right{
    right: -30px;
}
.carousel_lista{
    overflow: hidden;
    height: 22rem;
    padding: 2em;
}
.carousel_elemento{
    background-color: none;
}
.carousel_indicadores .glider-dot{
    display: block;
    width: 30px;
    height: 4px;
    background-color: $color_gris_claro;
    opacity: .2;
    border-radius: 0;
    &:hover{
        opacity: .5;
    }
    &.active{
        opacity: 1;
    }
}
@media screen and (max-width: 750px) {
    .carousel_left,.carousel_right{
        top: calc(30% - -25px);
    }
}