.nosotros_mision_content_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    &:hover .circle_content{
        opacity: 1;
        transform: translateY(0%);
    };
    &:hover .circle_container_dp{
        transform: translateY(100%);
    };
}

.circle_container_dp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 1s ease-in-out;
    padding: 1em;

}
.circle_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 1em;
    transform: translateY(-100%);
    transition: all 1s ease-in-out;
    .circleRocket{
        width: 80px;
        height: 80px;
    }
    .circle__content_paragraph{
        font-family: $letra__principal;
        color: $color_gris_claro;
        width: 70%;
        text-align: left;
    }
}
.circle{
    width: 15rem;
    height: 10rem;
    padding: 1em;
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    outline: 1px solid $color_gris_claro;
    outline-offset: -8px;
    box-shadow: rgba(87, 169, 218, 0.884) 3px 4px 17px;
    -moz-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    .circle_title{
        font-family: $letra__principal;
        color: $color_gris_claro;
        width: 100%;
        text-align: center;
    }
}