.masServicios_section_intro{
    @include secciones;
}
.masServicios_intro_content{
    @include flex__ColumnCenterAll;
    width: 60%;
    h1{
        @include title;
        @include camuflaje;
    }
    p{
        color: $color_gris_claro;
        font-family: $letra__principal;
        @include camuflaje;
        text-align: center;
        width: 90%;
        @include margin__Espaciado(1em,2em);
    }
}
.masServicios_speach{
    @include flex__ColumnCenterAll;
    width: 90%;
    .masServicios_brindamos{
        @include flex__ColumnCenterAll;
        width: 100%;     
        h2{
            @include title;
            @include camuflaje;
            width: 90%;
        }
        .beneficios{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            width: 90%;
            .beneficios_item{
                width: 30%;
                max-width: 280px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                flex-wrap: nowrap;
                @include margin__Espaciado(1em,1em);
                i{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    width: 30px;
                    height: 30px;
                    color: $color_gris_claro;
                    text-align: center;
                    line-height: 32px;
                }
                p{
                    font-family: $letra__principal;
                    color: $color_gris_claro;
                    @include camuflaje;
                    text-align: center;
                }
            }
        }
    }
    .masServicios__speach__container__paragraphBeneficios{
        @include flex__Center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: flex-start;
        @include margin__Espaciado(2em,2em);
    }
    .masServicios_speach_container_paragraph{
        @include flex__ColumnCenterAll;
        padding: 2em;
        border-radius: 20px;
        box-shadow: $color_general2 3px 4px 17px;
        transition: all 1s ease-in-out;   
        width: 68%;
        p{
            @include p;
            width: 90%;
            text-align: justify;
        }
    }
    .masServicios__speach__benefician{
        @include flex__ColumnCenterAll;
        margin-left: 2em;
        height: 100%;
        width: 29%;
        i{
            font-size: 50px;
            color: $color_gris_claro;
            text-align: center;
            text-shadow: rgba(87, 169, 218) 3px 4px 17px;
            transition: all 1s ease-in-out;
            &:hover{
                text-shadow: $color_general2 3px 4px 17px;
            }
        }
        .benefician_container{
            @include flex__ColumnCenterAll;
            justify-content: space-evenly;
            align-items: flex-start;
            min-height: 400px;
            width: 95%;
            color: $color_gris_claro;
            //text-shadow: rgba(87, 169, 218) 3px 4px 17px;
            transition: all 1s ease-in-out;
            &:hover{
                //text-shadow: $color_general2 3px 4px 17px;
            }
            .benefician{
                text-align: left;
                font-family: $letra__secundaria;
                i{
                    font-size: 20px;
                    color: $color_gris_claro;
                    margin-right: .2em
                }
            }
        }
    }

}
.masServicios_title{
    @include title;
    @include camuflaje;
}
.carousel_masServicios{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: center;
    flex-direction: column;
}
.carouselMasServicios_container{
    padding: 1em;
    width: 100%;
}
.masServicios_calendly{
    width: 100%;
    @include flex__ColumnCenterAll;
    h3{
        @include title;
        @include camuflaje;       
    }
    .container_calendly{
        width: 60%;
        @include margin__Espaciado(2em,2em);
    }
}
.masServicios_formulario{
    width: 100%; 
    @include flex__ColumnCenterAll;
    h3{
        @include title;
        @include camuflaje;
    }
    .contacto_redes_container{
        //@include margin__Espaciado(0em,0em);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        max-width: 500px;
        justify-content: center;
        align-items: flex-start;
        .contacto_redes{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 50%;
            .contacto_redes_anchord{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                width: 40px;
                height: 40px;
                margin-bottom: 1em;
                text-align: center;
                text-decoration: none;
                color: $color_gris_claro;
                box-shadow: $color_gris_oscuro 2px 2px 5px;
                border-radius: 50%;
                &:hover{
                    color: $color_general2;
                    border-radius: 50%;
                    box-shadow: 2px 2px 5px $color_general2;
                    transition: all .4s ease-in-out;
                    transform: scale(1.2);
                    @include compatibilidad_transform(scale(1.2));
                };
            }
        }
    }

    form{
        width: 80%;
        max-width: 920px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 2em;
        border-radius: 20px;
        box-shadow: rgba(87, 169, 218) 3px 4px 17px;
        transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
        @include compatibilidad_transition(2.5s cubic-bezier(0.4, 0.2, 0.2, 1));
        @include margin__Espaciado(1em,1em);
        transition: all 1s ease-in-out;
    }
    .formulario_contenedor_datos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        h3{
            color: $color_gris_claro;
            font-family: $letra__principal;
            transition: all 1s ease-in-out;
        }
        .contenedor_inputs{
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 350px;
            color: $color_gris_claro;
            font-family: $letra__secundaria;
            font-weight: bold;
            transition: all 1s ease-in-out;
        }
        .section__formulario__contenedor__form-input{
            padding: 5px;
        }
    }
    .formulario_contenedor_textarea{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        h3{
            color: $color_celeste_oscuro;
            font-family: $letra__principal;
            width: 100%;
            @include margin__Espaciado(1em,1em);
            transition: all 1s ease-in-out;
        }
        .contenedor_inputs{
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 350px;
            color: $color_gris_claro;
            font-family: $letra__secundaria;
            font-weight: bold;
            transition: all 1s ease-in-out;
        }
        .contenedor_btn_formulario{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            @include margin__Espaciado(1em,1em);
            .btn_formulario{
                width: 40%;
                min-width: 150px;
                max-width: 200px;
                color: $color_gris_claro;
                font-family: $letra__secundaria;
                font-weight: bold;
                text-decoration: none;
                padding: 10px 10px;
                border: 3px solid $color_gris_claro;
                border-radius: 10px;
                &:hover{
                    color: $color_general2;
                    animation: pulsate 1s ease-in-out;
                    border: 3px solid $color_general2;
                };
            }
        }
    }
    .contacto_formulario{
        transition: all 1s ease-in-out;
        &:hover{
            box-shadow: 3px 4px 17px $color_general2;
            .formulario_contenedor_datos{
                h3{
                    color: $color_general2;
                }
            };
            .contenedor_inputs{
                color: $color_general2;
            }
            .formulario_contenedor_textarea{
                h3{
                    color: $color_general2
                }
            }
        }
    }
/*     #formularioMarca{
        transition: all 1s ease-in-out;
        &:hover{
            box-shadow: 3px 4px 17px $color_amarillo2;
            .formulario_contenedor_datos{
                h3{
                    color: $color_amarillo2;
                }
            };
            .contenedor_inputs{
                color: $color_amarillo2;
            }
            .formulario_contenedor_textarea{
                h3{
                    color: $color_amarillo2;
                }
            }
        }
    } */
}
.espaciado{
    @include margin__Espaciado(1em,3em);
}