//Imports
@import "variables", "textAnimation";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fugaz One', cursive;
    font-display: swap;
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    background-color: $color_gris;
}
//Index
.header_hidden{
    display: none;
}
header{
    width: 100vw;
    height: 2%;
    clear: both;
    content:'';
    position: sticky;
    top: 0;
    z-index: 45;
    nav{
        background-color: $color_gris_oscuro;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-evenly;
        font-family: $letra__secundaria;
        font-weight: bold;
        div{
            ul{
                width: 70%;
                display: flex;
                justify-content: space-evenly;
                list-style: none;
                li{
                    display: flex;
                    align-items: center;
                    color: $color_gris_claro;
                    a{
                        text-decoration: none;
                        color: inherit;
                    }
                }
                li:hover{
                    color: $color_celeste_oscuro;
                }
            }
        }
    }
}
//preload
.contenedor_preload{
    @include flex__Center;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background: $color_gris_oscuro;
    z-index: 99;
}
.preload_cerrar{
    display: none;
    transform: translateY(-100%);
    transition: all .5s;
}
//logo header
.contenedor_logo_header{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    margin-left: 2em;
    padding: 1em;
}
.anchord_logo{
    @include flex__ColumnCenterAll;
}
.logo_header{
    width: $logo-width
}
//secciones header
.contenedor_header_secciones{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#toggler, .contenedor_burgerMenu, .burger_menu, .center{
    display: none;
}
//Abre main 
.main{
    width: 100vw;
    height: 80%;
}
//abre seccion presentacion
.section_presentacion{
    width: 100vw;
    display: none;
}
.contenedor_presentacion{
    width: 100%;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
}
//text animation
.container_textAnimation{
    padding: 2em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.textAnimation{
    stroke: $color_celeste_oscuro;
    fill: $color_celeste_oscuro;
    font-family: $letra__principal;
    font-size: 100px;
    font-weight: 300;
}
//somos impulsar
.contenedor_somosImpulsar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 2em;
}
.somosImpulsar_p{
    width: 80%;
    color: $color_gris_claro;
    font-family: $letra__secundaria;
    font-size: 20px;
    text-align: justify;
}
//animacion-scroll
.contenedor_animationScroll{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.scroll-link{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
.mouse{
    max-width: 1.5rem;
    width: 100%;
    height: auto;
}
.scroll {
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
    animation-iteration-count: infinite;
    transform-origin: 50% 20.5px;
    will-change: transform;
}
.animationScroll_p{
    font-family: $letra__secundaria;
    color: $color_celeste_oscuro;
    font-size: 9px;
}

//footer
.index_footer{
    width: 100vw;
    height: 18%;
    display: flex;
    flex-direction: column;
    background-color: $color_gris_oscuro;
}
.section_copyright{
    display: flex;
    justify-content: center;
    width: 100%;
}
.contenedor_logo_footer{
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}
.logo_footer{
    width: $logo-width
}
.texto_copyright{
    color: $color_gris_claro;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -1.9em;
}
@media screen and (max-width: 600px) {
    nav{
        justify-content: space-between;
    }
    .center {
        display: block;
        top: 50%;
        right: 10%;
        transform: translate(-50%, -50%);
        position: relative;
        width: 40px;
    }    
    .center:before,
    .center:after,
    .center div {
        background: $color_celeste_oscuro;
        content: "";
        display: block;
        height: 6px;
        border-radius: 3px;
        margin: 7px 0;
        transition: .5s;
    }
    .center:hover:before {
        transform: translateY(12px) rotate(135deg);
    }
    .center:hover:after {
        transform: translateY(-12px) rotate(-135deg);
    }
    .center:hover div {
        transform: scale(0);
    }
    .contenedor_header_secciones{
        width: 100%;
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
    }
    .list{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar{
        flex-wrap: wrap;
    }
    .contenedor_burgerMenu{
        display: inline-flex;
        cursor: pointer;
        width: 30%;
        justify-content: flex-end;
        align-items: baseline;
    }
    .burger_menu{
        width: 30px;
        height: 30px;
        display: flex;
    }
    .anchord_secciones{
        padding: .5em;
    }
    #toggler:checked ~ .contenedor_header_secciones{
        max-height: 100%;
    }
}