//Imports
@import "variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fugaz One', cursive;
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    background-color: $color_gris;
}
@font-face{
    font-family: 'Fugaz One', cursive;
    font-display: swap;
}
//Index
header{
    width: 100vw;
    height: 2%;
    clear: both;
    content:'';
    position: sticky;
    top: 0;
    z-index: 45;
    nav{
        background-color: $color_gris_oscuro;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-evenly;
        font-family: $letra__secundaria;
        font-weight: bold;
        div{
            ul{
                width: 70%;
                display: flex;
                justify-content: space-evenly;
                list-style: none;
                li{
                    display: flex;
                    align-items: center;
                    color: $color_gris_claro;
                    a{
                        text-decoration: none;
                        color: inherit;
                    }
                }
                li:hover{
                    color: $color_celeste_oscuro;
                }
            }
        }
    }
}

//logo header
.contenedor_logo_header{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    margin-left: 2em;
    padding: 1em;
}
.anchord_logo{
    @include flex__ColumnCenterAll;
}
.logo_header{
    width: $logo-width
}
//secciones header
.contenedor_header_secciones{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#toggler, .contenedor_burgerMenu, .burger_menu{
    display: none;
}
//main
.index_main{
    width: 100vw;
    height: 80%;
}
.section_prueba{
    width: 100vw;
    height: 80%;
}
//footer
.index_footer{
    width: 100vw;
    height: 18%;
    display: flex;
    flex-direction: column;
    background-color: $color_gris_oscuro;
}
.section_copyright{
    display: flex;
    justify-content: center;
    width: 100%;
}
.contenedor_logo_footer{
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

    padding: 1em;
}
.logo_footer{
    width: $logo-width
}
.texto_copyright{
    color: $color_gris_claro;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 600px) {
    nav{
        justify-content: space-between;
    }
    .contenedor_header_secciones{
        width: 100%;
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
    }
    .list{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar{
        flex-wrap: wrap;
    }
    .contenedor_burgerMenu{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        width: 30%;
    }
    .burger_menu{
        display: flex;
    }
    .anchord_secciones{
        padding: .5em;
    }
    #toggler:checked ~ .contenedor_header_secciones{
        max-height: 100%
    }
}

.contenedor_burgerMenu{
    @include flex__Center;
}
.burger_menu{
    width: 30px;
    height: 30px;
}